*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}
body{
}
header{
    background-color: black;
    color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* color: #bbbccc; */
    color: rgba(184, 188, 204, 0.5);;
    font-weight: 900;
}
header .ip{
    font-size: 23px;
}
header span{
    color: #bbbccc;
}
header .hdata{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
}
main .s1{
    background-color: #575A85;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.s1 h1{
    align-self: center;
    color: #bbbccc;
    font-size: 30px;
    margin-top: 10px;
}
.s1 iframe{
    align-self: center;
    width: 85%;
    height: 420px;
    border-radius: 10px;
}


/* Section 2 */
main .s2{
    background-color: black;
    height: 350px;
    /* color: #575A85; */
    color: rgba(184, 188, 204, 0.5);
    padding: 30px 40px;
    /* padding-bottom:; */
    display: flex;
    flex-direction: column;
    font-size: 23px;
    row-gap: 25px;
}
.s2 h1{
    color: #bbbccc;
    align-self: center;
    font-size: 30px;
}
.s2 div{
    font-weight: bold;
}

.s2 div span{
    color: #bbbccc;
}


/* Section 3 */
main .s3{
    background-color: black;
    min-height: 350px;
    /* color: #575A85; */
    color: rgba(184, 188, 204, 0.5);
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    row-gap: 25px;
    margin-top: -50px;
    padding: 0 150px;
}
.s3 h1{
    color: #bbbccc;
    align-self: center;
    font-size: 30px;
}

.s3 input{
    height: 45px;
    background: transparent;
    border: 1px solid white;
    border-radius: 15px;
    color: #bbbccc;
    font-size: 18px;
    padding-left: 20px;
}
.s3 input::placeholder{
    color: #bbbccc;
    font-size: 18px;
}
.s3 .offices{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    /* row-gap: 40px; */
    /* border: 1px solid white; */
    justify-content: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 80px;
}

.s3 .office{
    width: 47%;
    padding: 30px;
    /* border: 1px solid red; */
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #bbbccc;
    background-color: #575A85;
    row-gap: 15px;
    font-size: 22px;
}